.navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $height-navbar;
  margin: 0 auto;

  background-color: transparent;

  &__logo {
    .navbar__logo-img {
      width: 96px;
    }
    padding: 0 24px;
  }

  &__menu {
    display: inline-flex;
    padding-left: 0;

    list-style: none;
    counter-reset: section;
    .navbar__menu-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 30px;
      height: $height-navbar;

      cursor: pointer;
      transition: all linear 0.3s;

      &:hover {
        background-color: $hover-color;
      }
      &::before {
        color: #b2b2b2;

        font-size: 1.4rem;

        counter-increment: section;
        content: '0' counter(section) '.';
      }
      .navbar__title {
        margin-top: 4px;
        color: $black-color;
        font-size: 1.6rem;
      }
    }
  }
  &__sub {
    display: inline-flex;
    background-color: transparent;
    height: $height-navbar;

    font-size: 1.6rem;
    .navbar__sub-icon {
      display: flex;
      align-items: center;
      padding: 0 24px;

      &--search {
      }
      .navbar__sub-title {
        margin-left: 14px;
      }
      &:hover {
        background-color: $hover-color;
        transition: all ease 0.3s;
      }
      &:not(:first-child):hover .navbar__sub--separate--3 {
        right: 20px;
        transition: all ease-in-out 0.3s;
      }

      .navbar__sub--separate {
        position: relative;
        cursor: pointer;
        display: block;

        width: 40px;
        height: 24px;

        &--1 {
          position: absolute;
          top: 6px;
          right: 0;

          height: 1px;
          width: 100%;

          background-color: $black-color;
        }
        &--2 {
          position: absolute;
          top: 12px;
          right: 0;

          width: 30px;
          height: 1px;

          background-color: $black-color;
        }
        &--3 {
          position: absolute;
          top: 18px;
          right: 0;

          width: 20px;
          height: 1px;

          background-color: $black-color;
          transition: all ease 0.2s;
        }
      }
    }
  }
}

// Mobile Nav

.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  max-width: 100%;
  background-color: #fff;

  transition: all ease-out 0.3s;
  transform: translateY(-100%);
  opacity: 0;
  counter-reset: section;
  .logo {
    img {
      width: 30%;
      margin-top: 18px;
      margin-left: 18px;
    }
  }

  .nav__mobile-list {
    padding: 0 34px 38px;
    list-style: none;
    .navbar__menu-item {
      margin-top: 18px;
      &::before {
        color: #b2b2b2;

        font-size: 1.4rem;

        counter-increment: section;
        content: '0' counter(section) '.';
      }
      .navbar__menu-item-link {
      }
      .navbar__title {
        @include text-styles(1.6rem, 500);
        color: $black-color;
      }
    }
  }
}

.nav__mobile-btn--close {
  height: 28px;
  width: 28px;
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  cursor: pointer;
  .navbar__mobile-icon--close {
    font-size: 2.1rem;
    color: #000;
  }
}

.nav__input:checked ~ .nav__overlay {
  display: block;
}

.nav__input:checked ~ .nav__mobile {
  transform: translateY(0%);
  opacity: 1;
}

.sidebars {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: 460px;
  max-width: 100%;
  background-color: #fff;

  transition: all ease-in-out 0.4s;
  transform: translateX(100%);
  opacity: 0;
  .sidebars__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    .logo {
      img {
        width: 70%;
      }
      margin-bottom: 64px;
    }
  }
  .sidebars__contact {
    .sidebar__title {
      @include text-styles(2.4rem, 700);
    }
    .sidebar__list {
      margin-top: 64px;
      margin-bottom: 64px;
      list-style: none;

      .sidebar__item {
        padding-top: 6px;
        padding-bottom: 6px;
        a {
          @include text-styles(1.8rem, 500);
          color: #4c4c4c;
          &:hover {
            color: #b2b2b2;
          }
        }
      }
    }
  }
  .sidebars__social {
    .sidebar__title {
      @include text-styles(2.4rem, 700);
    }
    .sidebar__list {
      display: inline-flex;
      list-style: none;
      margin-top: 18px;
      padding-right: 16px;
      .sidebar__item {
        a {
          span {
            @include text-styles(1.8rem, 500);
            color: #4c4c4c;
            padding: 14px;
            display: block;
            &:hover {
              color: #b2b2b2;
            }
          }
        }
      }
    }
  }
}
.nav__input:checked ~ .sidebars {
  transform: translateX(0%);
  opacity: 1;
}

@media (max-width: 1023px) {
  .nav__mobile {
    display: block;
  }
  .sidebars {
    display: none;
  }
}
@media (min-width: 1024px) {
  .nav__mobile {
    display: none;
  }
  .sidebars {
    display: block;
  }
}
