.btn {
  padding: 16px 74px;
  border: none;

  @include color-text($black-color, $white-color);

  @include text-styles(1.6rem, 500);

  transition: all ease-in 0.2s;

  &:hover {
    @include color-text($white-color, $black-color);
  }
}

.btn__scroll {
  position: fixed;
  bottom: 26px;
  right: 26px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  @include color-text($white-color, $black-color);

  text-decoration: none;

  .icon__scroll {
    font-size: 2.8rem;
  }
}

.icon__right {
  position: fixed;
  right: 0px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: $black-color;

  text-decoration: none;
  cursor: pointer;
}

.btn-related {
  bottom: 158px;
  background-color: #ee2852;
  .icon__right {
    font-size: 2.4rem;
    color: $white-color;
  }
}
.btn-buy {
  bottom: 100px;
  background-color: $white-color;

  .icon__right {
    color: #ee2852;
    font-size: 1.8rem;
  }
}
