.home {
  height: 100vh;
  position: relative;
  background: url(../../assets/img/h4-rev-image2.png) no-repeat center right/43%,
    url(../../assets/img/h4-rev-img-1.jpg) no-repeat bottom center/cover;
  .home__wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 526px;
  }
  .home_title {
    display: flex;
    flex-direction: column;
    margin: 0;

    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1.1;
    &::before {
      content: 'explore the whole cities';

      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 1;
    }
  }
  .form__group {
    .form__control {
      width: 100%;
      padding: 18px 40px;
      margin-top: 18px;

      color: $text-color;

      font-size: 1.6rem;
      font-weight: 700;

      border: #ccc solid 1px;
      &:focus {
        outline: none;

        color: $black-color;
      }
    }
    .btn__search {
      margin-top: 36px;
    }
  }
}

//- Discover

.discover__icon-control {
  display: inline-flex;
  width: 142px;
  justify-content: space-between;
  overflow: hidden;

  cursor: pointer;
  .icon__discover {
    color: #acacac;

    font-size: 4rem;
    line-height: 66px;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    transition: all ease-in-out 0.2s;
  }
  .icon__control--left {
    &:hover {
      transform: translateX(-30px);
    }
  }
  .icon__control--right {
    &:hover {
      transform: translateX(30px);
    }
  }
}

//- Award
.award__img {
  position: relative;
  img {
    width: 90%;
  }
  .award__img-icon {
    display: block;
    position: absolute;
    top: 35%;
    right: -4%;
    width: 184px;
    height: 184px;
  }
}

.section__award {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  .award__number {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .award__header {
    color: #1d1d1f;

    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .award__description {
    margin: 24px 0;

    color: #4c414c;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
  }
  .award__link--more {
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    color: #1d1d1f;

    .icon-more {
      padding-left: 16px;
    }
  }
}

.section__app-download {
  position: relative;

  padding: 200px 0;
  overflow: hidden;
  background-color: #f8f7f5;
  .section__header {
    .content__header {
      font-size: 6.5rem;
    }
    .content__sub-header {
      margin: 40px 0;

      font-size: 1.8rem;
      color: #4c414c;
    }
  }
  .app-download {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .app__download-link {
      margin-right: 20px;
    }
    .app__download-img {
      width: 100%;
    }
  }
}
//- Background
.rev-inner-3 {
  position: absolute;
  top: 0;
  right: 100px;
  img {
    width: 73%;
  }
}
.rev-inner-4 {
  position: absolute;
  top: 70px;
  right: -180px;

  img {
    width: 73%;
  }
}
.rev-inner-5 {
  position: absolute;
  bottom: 0;
  right: 100px;

  img {
    width: 73%;
  }
}
.rev-inner-7 {
  position: absolute;
  top: 24px;
  left: 440px;
  img {
    width: 80%;
  }
}
.rev-inner-8 {
  position: absolute;
  top: 70px;
  left: 300px;
  img {
    width: 80%;
  }
}
.rev-inner-9 {
  position: absolute;
  bottom: -95px;
  left: 346px;
  img {
    width: 100%;
  }
}

// Service

.section__service {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .service__wrap {
    display: flex;
    align-items: center;

    padding-bottom: 38px;
    .service__icon {
      display: block;
      width: 84px;
      height: 84px;
      margin-right: 36px;

      color: #1d1d1f;

      font-size: 8.4rem;
      font-weight: 400;
    }
  }
  .service__body {
    .service__title {
      font-size: 2.4rem;
      color: #1d1d1f;
      margin-bottom: 14px;
    }
    .service__des {
      font-size: 1.8rem;
      color: #4c4c4c;
      line-height: 1.4;
    }
  }
}

//- Blog

.content__blog {
  text-align: center;
}
