.grid.wide
    .row
        .col.l-4
            h3.footer__slogan We do what we love, and we love what we do.
            a(href="#")
                img(src="./assets/img/logo-footer.png", alt="Logo Footer") 
        .col.l-4 
            .footer__title Office in New York
            ul.footer__contact 
                li.footer__contact-body
                    .contact-location
                        a(href="#")  105 Lincoln Avenue
                        a(href="#") Bronx, NY 10454, USA 
                li.footer__contact-body
                    .contact-phone
                        a(href="#") + (123) 124-567-8901
                        a(href="#") + (123) 124-667-8901
                li.footer__contact-body 
                    .contact-website     
                        a(href="#") webon1@webonexample.com
                        a(href="#") webon2@webonexample.com
        .col.l-4
            .footer__title Newsletter
            p Submit to our newsletter & subscribe to our newsletter to be on the up and up
            form(action="").form__group
                input(type="email", name="Email", placeholder= "mail@address.com").form__control
                button(type="submit").btn Subscribe
                    span.ti-arrow-right
         


