doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Foot Delivery
        link(rel="icon", href="https://webon.qodeinteractive.com/wp-content/uploads/2020/11/cropped-favicon-img-1-180x180.png")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css", integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==", crossorigin="anonymous")
        link(rel="stylesheet", href="./assets/css/style.css")
        link(href="./assets/fonts/themify-icons/themify-icons.css", rel="stylesheet")
    body
        .app
            header
                include ../partials/header.pug
            .container
                include ../home.pug
            footer
                include ../partials/footer.pug
            p.copy-right © 2020 
                a(href="#") Qode Interactive, All Rights Reserved


//- https://webon.qodeinteractive.com/food-delivery/