.section-content {
  padding-top: 120px;
  padding-bottom: 120px;
  .content__header {
    color: #1d1d1f;

    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .content__sub-header {
    color: #4c414c;

    font-size: 1.8rem;
    font-weight: 700;
  }
}
