@mixin animation-start($delay) {
  transform: translateX(8%);
  animation: handMove 0.4s ease-out $delay 1 forwards;
}

@mixin color-text($background, $color) {
  background-color: $background;
  color: $color;
}

@mixin background-absolute(
  $prop-first,
  $val-first,
  $prop-second,
  $val-second,
  $width
) {
  position: absolute;
  #{$prop-first}: $val-first;
  #{$prop-second}: $val-second;
  img {
    width: $width;
  }
}

@mixin text-styles($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}
